.mainObject {
    width: 70%;
    height: 51%;
    position: absolute;
    top: 68px;
    left: 1%;
    background-color: #ff7657;
}

@media screen and (max-width:480px) { // custom
    .mainObject {
        width: 98%;
        height: 38%;
        top: 68px;
        left: 1%;
    }
}
@media screen and (min-width:480px) and (max-width:768px) { // custom
    .mainObject {
        width: 98%;
        height: 45%;
        top: 68px;
        left: 1%;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    .mainObject {
        width: 70%;
        height: 52%;
        top: 68px;
        left: 1%;
    }
}
@media screen and (min-width:1024px) {
    .mainObject {
        width: 70%;
        height: 52%;
        top: 68px;
        left: 1%;
    }
}