.textInfo {
    width: 24%;
    height: 37%;
    position: absolute;
    bottom: 1%;
    left: 47%;
    background-color: #665c84;
}

@media screen and (max-width:480px) { // custom
    .textInfo {
        width: 98%;
        height: 25%;
        bottom: 1%;
        left: 1%;
    }
}
@media screen and (min-width:480px) and (max-width:768px) { // custom
    .textInfo {
        width: 43%;
        height: 44%;
        bottom: 1%;
        left: 56%;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    .textInfo {
        width: 24%;
        height: 37%;
        bottom: 1%;
        left: 47%;
    }
}
@media screen and (min-width:1024px) {
    .textInfo {
        width: 24%;
        height: 37%;
        bottom: 1%;
        left: 47%;
    }
}