.textInfo {
    width: 24%;
    height: 37%;
    position: absolute;
    bottom: 1%;
    left: 47%;
    background-color: #665c84;
}

@media screen and (min-width:480px) { 
    .textInfo {
        width: 24%;
        height: 37%;
        position: absolute;
        bottom: 1%;
        left: 47%;
        background-color: #665c84;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    .textInfo {
        width: 24%;
        height: 37%;
        position: absolute;
        bottom: 1%;
        left: 47%;
        background-color: #665c84;
    }
}
@media screen and (min-width:1024px) {
    .textInfo {
        width: 24%;
        height: 37%;
        position: absolute;
        bottom: 1%;
        left: 47%;
        background-color: #665c84;
    }
}