.formInfo {
    width: 45%;
    height: 37%;
    position: absolute;
    bottom: 1%;
    left: 1%;
    background-color: #fbeed7;
}

@media screen and (max-width:480px) { // custom
    .formInfo {
        width: 98%;
        height: 25%;
        bottom: 27%;
        left: 1%;
    }
}
@media screen and (min-width:480px) and (max-width:768px) { // custom
    .formInfo {
        width: 54%;
        height: 44%;
        bottom: 1%;
        left: 1%;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    .formInfo {
        width: 45%;
        height: 37%;
        bottom: 1%;
        left: 1%;
    }
}
@media screen and (min-width:1024px) {
    .formInfo {
        width: 45%;
        height: 37%;
        bottom: 1%;
        left: 1%;
    }
}