.subObject {
    width: 27%;
    position: absolute;
    top: 9%;
    bottom: 1%;
    right: 1%;    
    background-color: #ffba5a;
}

@media screen and (max-width:480px) { // custom
    .subObject {
        // width: 250px;
        // height: 100%;
        // position: fixed;
        // top: 0;
        // right: 0;
        // z-index: 25;
        display: none;
    }
}
@media screen and (min-width:480px) and (max-width:768px) { // custom
    .subObject {
        // width: 300px;
        // height: 100%;
        // position: fixed;
        // top: 0;
        // right: 0;
        // z-index: 25;
        display: none;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    .subObject {
        width: 27%;
        top: 9%;
        bottom: 1%;
        right: 1%;
    }
}
@media screen and (min-width:1024px) {
    .subObject {
        width: 27%;
        top: 9%;
        bottom: 1%;
        right: 1%;    
    }
}